@import "../../Fonts/Recoleta/MyFontsWebfontsKit.css";

.features-container {
    width: 70vw;
    margin-left: 15vw;
    padding-bottom: 10vh;
}

.feature-items-ctn{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.feature-items{
    text-align: center;
    
}

.feature-items h1 {
    font-family: 'Recoleta-Bold';
}
.feature-items p {
    width: 250px;
    font-family: 'Recoleta-Light';
    font-size: 1.5vw;
}

.feature-card-img {
    width: 13vw;
    height: 15vh;
}

#features-heading{
    font-family: 'Recoleta-Bold';
    font-family: 'Recoleta-Black';
    text-align: center;
    font-size: 5vw;
    margin-bottom: 10vh;
}




@media ( max-width: 450px) {

    .features-container {
        width: 90vw;
        margin-left: 5vw;
    }

    .feature-items{
        text-align: center;
    
    }

    .feature-items p {
        width: 100%;
    }

    #features-heading{

        font-size: 10vw;
        margin-bottom: 5vh;
    }

}
