
.mailchimp-ctn {
    width: 100%;
    margin-bottom: 10vh;
}


#mc_embed_signup_scroll {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Recoleta-Medium';
    font-color: #4a4a4a;
}

#mce-EMAIL {
    height: 6vh;
    min-width: 40vw;
    flex: 2 1 60%;
    font-size: 20px; 
    border-radius: 10px;
    border: none;
    padding-left: 1vw;
    font-size: 2vw;
    -webkit-box-shadow: -2px 4px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 4px 10px 0px rgba(0,0,0,0.75);
    box-shadow: -2px 4px 10px 0px rgba(0,0,0,0.75);
}

#mc-embedded-subscribe {
    height: 6.6vh;
    min-width: 20vw;
    flex: 1 1 35%;
    margin-left: 5%;
    border-radius: 10px;
    background-color: #ea4756;

    font-family: 'Recoleta-Bold';
    font-size: 2.5vw;
    cursor: pointer;
    -webkit-box-shadow: -0.5px 1px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -0.5px 1px 10px 0px rgba(0,0,0,0.75);
    box-shadow: -0.5px 1px 10px 0px rgba(0,0,0,0.75);

	border: 1px solid rgba(0,0,0,0.21);
	border-bottom: 4px solid rgba(0,0,0,0.21);
	border-radius: 4px;
	text-shadow: 0 1px 0 rgba(0,0,0,0.15);

    background: #ea4756;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#ea4756), to(rgba(232,81,81,1)));
	background: -webkit-linear-gradient(#ea4756 0%, rgba(232,81,81,1) 100%);
	background: -moz-linear-gradient(#ea4756 0%, rgba(232,81,81,1) 100%);
	background: -o-linear-gradient(#ea4756 0%, rgba(232,81,81,1) 100%);
	background: linear-gradient(#ea4756 0%, rgba(232,81,81,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa5a5a', endColorstr='#e85151', GradientType=0 );
}


@media ( max-width: 450px) {

    #mce-EMAIL {
        font-size: 4vw;
        height: 7vh;
        min-width: 60vw;
    }
    
    #mc-embedded-subscribe {
        height: 7vh;
        font-size: 4vw;
        min-width: 30vw;
    }

}