
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');

@import "Fonts/Recoleta/MyFontsWebfontsKit.css";

/* 
.light {
    font-family: 'Recoleta-Light';
}
.thin {
    font-family: 'Recoleta-Thin';
}
.medium {
    font-family: 'Recoleta-Medium';
}
.bold {
    font-family: 'Recoleta-Bold';
}
.black {
    font-family: 'Recoleta-Black';
} */

/* html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
} */

/* CSS DEBUGGER */
/* * {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
  } */


.home-container {
    background-color: #a8eef4;
    /* background-color: #d3f2f5; */
    margin-top: 10vh;
    height: 90vh;
    text-align: center;
    /* position: inherit; */
    position: static;

    /* position: static; */
    /* font-family: 'Source Sans Pro', sans-serif; */
    /* font-family: 'Recoleta-Black'; */
    /* font-family: 'Recoleta-Bold'; */
    /* font-weight: black; */
    /* font-family: 'PT Sans', sans-serif; */
}

.home-title {
    width: 70vw;
    text-align: center;
    margin-left: 15vw;
    margin-bottom: 5vh;
}

.home-title h1 {
    font-size: 5vw;
    padding-top: 2vh;
    font-family: 'Recoleta-Black';
}

.home-subheading {
    font-family: 'Recoleta-Medium';
    font-size: 2vw;
}

.home-Image {
    width: 40vw;
    height: 40vh;
}

/* .home-video {
    margin-bottom: 4vh;
}

.landing-page-explainer-video {
    border: none;
    width: 70vw;
    height: 50vh;
} */

.signup-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* justify-content: space-around; */
    width: 60vw;
    margin-left: 20vw;
    font-family: 'Recoleta-Medium';
    font-color: #4a4a4a;
}

.signup-input {
    height: 6vh;
    /* width: 300px */
    /* width: 75%; */
    /* flex: 3 1 200px */
    flex: 2 1 60%;
    /* font-size: 20px;  */
    border-radius: 10px;
    /* border: solid gray 1px; */
    border: none;
    padding-left: 1vw;
    font-size: 2vw;
    -webkit-box-shadow: -2px 4px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 4px 10px 0px rgba(0,0,0,0.75);
    box-shadow: -2px 4px 10px 0px rgba(0,0,0,0.75);
    /* outline: none; */
}

.signup-btn {
    height: 6.6vh;
    /* width: 100px; */
    /* width: 25%; */
    /* flex: 1 1 200px */
    flex: 1 1 35%;
    margin-left: 1.5%;
    /* font-size: 20px;   */
    border-radius: 10px;
    border: none;
    background-color: #ea4756;
    font-family: 'Recoleta-Bold';
    font-size: 2.5vw;
    cursor: pointer;
    -webkit-box-shadow: -0.5px 1px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -0.5px 1px 10px 0px rgba(0,0,0,0.75);
    box-shadow: -0.5px 1px 10px 0px rgba(0,0,0,0.75);

	border: 1px solid rgba(0,0,0,0.21);
	border-bottom: 4px solid rgba(0,0,0,0.21);
	border-radius: 4px;
	text-shadow: 0 1px 0 rgba(0,0,0,0.15);

    /* background: rgba(250,90,90,1); */
    background: #ea4756;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#ea4756), to(rgba(232,81,81,1)));
	background: -webkit-linear-gradient(#ea4756 0%, rgba(232,81,81,1) 100%);
	background: -moz-linear-gradient(#ea4756 0%, rgba(232,81,81,1) 100%);
	background: -o-linear-gradient(#ea4756 0%, rgba(232,81,81,1) 100%);
	background: linear-gradient(#ea4756 0%, rgba(232,81,81,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa5a5a', endColorstr='#e85151', GradientType=0 );
}

/* Signup button hover effect  */
/* .signup-btn:hover{
    box-shadow:0px 10px 10px rgba(0,0,0,0.2);
    transform : translateY(-3px);
}

.signup-btn:active{
    box-shadow:0px 5px 10px rgba(0,0,0,0.2);
    transform:translateY(-1px);
}

.signup-btn{
    animation:comeFromBottom 1s ease-out .8s;
}

.signup-btn::after{
    content:"";
    text-decoration: none;
    text-transform:uppercase;
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    border-radius:100px;
    display:inline-block;
    z-index:-1;
    transition: all .5s;
}

.signup-btn::after {
    background: #ea4756;
}

.signup-btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
} */


@media ( max-width: 450px) {

    .home-title {
        width: 90vw;
        text-align: center;
        margin-left: 5vw;
        margin-bottom: 1vh;
    }
    
    .home-title h1 {
        /* font-size: 60px; */
        font-size: 10vw;
        padding-top: 2vh;
    }
    
    .home-subheading {
        font-size: 4vw;
        margin-bottom: 0px;
    }
    
    .home-Image {
        width: 55vw;
        height: 40vh;
    }

    .signup-form {
        width: 90vw;
        margin-left: 5vw;
        /* margin-top: 4vh; */

    }

    .signup-input {
        font-size: 4vw;
        height: 7vh;

    }
    
    .signup-btn {
        font-size: 4vw;
        height: 7vh;

    }



}





