

.home-container {
    background-color: #a8eef4;
    margin-top: 10vh;
    height: 90vh;
    text-align: center;
}

.home-title {
    width: 70vw;
    text-align: center;
    margin-left: 15vw;
    margin-bottom: 5vh;
}

.home-title h1 {
    font-size: 60px;
    padding-top: 2vh;
}

.home-video {
    margin-bottom: 4vh;
}

.landing-page-explainer-video {
    border: none;
    width: 70vw;
    height: 50vh;
}

.signup-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 40vw;
    margin-left: 30vw;
}

.signup-input {
    height: 6vh;
    /* width: 300px */
    /* width: 75%; */
    /* flex: 3 1 200px */
    flex: 2 1 60%;
    font-size: 20px; 
    border-radius: 10px;
    border: solid gray 1px;
    padding-left: 1vw;

}

.signup-btn {
    height: 6.6vh;
    /* width: 100px; */
    /* width: 25%; */
    /* flex: 1 1 200px */
    flex: 1 1 35%;
    margin-left: 1.5%;
    font-size: 20px;  
    border-radius: 10px;
    border: none;


}
