

.home-container {
    margin-right: 7vw;
    margin-left: 7vw;
    padding-left: 15px;
    padding-right: 15px;
}

.signup-container {
    position: inherit;
    margin-top: 20vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
    height: 80vh;
    /* align-items: center; */

}

.signup-container-1 {
    /* width: 50%; */
    max-width: 50%;
}
.signup-container-2 {
    /* width: 50%; */
    /* max-width: 50%; */

}

.signup-form {
    /* width: 80%; */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    height: 5vh;
}

.signup-input {
    width: 75%;
    /* flex-shrink: 1; */
    border-radius: 10px;
    border: 1px solid gray;
    text-align: center;


}

.signup-btn {
    /* width: 20%; */
    padding: 10px;
    border-radius: 10px;
    border: 1px solid gray;


}

/* .home-btn {
    width: 10vw; --> was commented out not sure if needed
    background: #4CAF50;
    border: none;
    border-radius: 25px;
    color: snow; 
    cursor: pointer;
    font-size: 1.25em;
    letter-spacing: .1em;
    outline: none;
    padding: .75em 2em;
    position: relative;
    text-transform: uppercase;
}

.home-btn::before {
    background: #4CAF50;
    border-radius: inherit;
    content: '';
    filter: blur(10px); 
    opacity: .75;
    position: absolute;
    transition: all .3s ease-in-out;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
}

.home-btn:hover::before {
    filter: blur(20px); 
    opacity: 1;
} */

/* To make button Pulse */
/* Need SCSS --> https://codepen.io/Splode/post/making-a-glowing-button */
